<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yt_dlp_GUI.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <yt_dlp_GUI.UserSettings>
            <setting name="DownloadType" serializeAs="String">
                <value>video</value>
            </setting>
            <setting name="VideoFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoResolutionIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AudioFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
        </yt_dlp_GUI.UserSettings>
    </userSettings>
</configuration>